<div class="page-header">
    <strong><h3 class="header-text text-info">Hoja Principal </h3> - <h3 class="header-text text-muted">Datos Paciente</h3></strong>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <form>
				<div class="space">
                    <div class="col-lg-12">
                    <div class="form-horizontal" style="font-size: 30px">
                        <div class="form-group">
                            <div class="col-lg-12">
                            <i class="glyphicon glyphicon-user"></i> Veronica <span style="font-weight: bold;">López Sánchez</span>
                            </div>
                        </div>
                    </div>
                    </div>

                     <div class="col-lg-12">
                    <div class="form-horizontal" style="font-size: 14px">
                        <div class="form-group">
                            <div class="col-lg-6">
                            <span style="font-weight: bold;">Edad: </span>
                             <span>28 años</span>
                            </div>
                            <div class="col-lg-6">
                            <span style="font-weight: bold;">Fecha Nac.: </span>
                             <span>15/07/1989</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                            <span style="font-weight: bold;">Sexo: </span>
                             <span>Femenino</span>
                            </div>
                            <div class="col-lg-6">
                            <span style="font-weight: bold;">CURP: </span>
                             <span>LOSV890715MMSLLT02</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                            <span style="font-weight: bold;">Unidad Primer Nivel: </span>
                             <span>CS Zaragoza-Insurgentes, 2SSEP00738</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-6">
                            <span style="font-weight: bold;">Dirección: </span>
                             <span>Avenida las Margaritas #2542</span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-lg-6">
                            <span style="font-weight: bold;">Médico1:</span>
                             <span>Dr. Ana Lilia Robledo Acosta</span>
                            </div>
                            <div class="col-lg-6">
                            <span style="font-weight: bold;">Médico2:</span>
                             <span>Dr. Hugo Erick Barranco Linares</span>
                            </div>
                        </div>

                         <div class="form-group">
                            <div class="col-lg-6">
                            <span style="font-weight: bold;">Unidad de Hospitalización: </span>
                             <span>HG Sur, SSED</span>
                            </div>
                           
                        </div>
                         <div class="form-group">
                           
                            <div class="col-lg-12">
                            <span style="font-weight: bold;">Dirección: </span>
                             <span>Calle 9 Sur 11349C, INFONAVIT Agua Santa, Puebla, Pue</span>
                            </div>
                        </div>

                        <div class="form-group">
                           
                            <div class="col-lg-12">
                            <span style="font-weight: bold;">Discapacidad: </span>
                             <span>Ninguna</span>
                            </div>
                        </div>

                         <div class="form-group">
                           
                            <div class="col-lg-12">
                            <span style="font-weight: bold;">Es indigena: </span>
                             <span>NO</span>
                            </div>
                        </div>

                        <div class="form-group">
                           
                            <div class="col-lg-12">
                            <span style="font-weight: bold;">Alergias: </span>
                             <span>Penicilinas</span>
                            </div>
                        </div>

                        
                     
                    </div>
                    </div>
</div>
                </form>
            </div>
        </div>
        <div class="panel panel-body">
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user-md fa-3x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div   style="font-size: 20px">8512 4532 2212 3535</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Poliza Seguro Social</span>
                            <span class="pull-right"></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-3x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div style="font-size: 40px">116-II</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer" style="text-align: center;">
                            <span>No. Exp. Unidad</span>
                            <span class="pull-right"></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-ambulance fa-3x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                 <div style="font-size: 20px" >Seguro Popular</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Tipo de Seguridad Social</span>
                            <span class="pull-right"></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-white">
<br>
<!--class para imagen circular: img-circle -->
<img src="assets\img\profile\profile.jpg" class=" center-block" width="180" height="180" style="border-bottom: 8px solid #29c7ca">  


            <div class="panel-body" style="font-size: 14px">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="Direccion" class="col-sm-12" style="font-weight: bold;">Dirección</label>
                        <div class="col-sm-12">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Calle" class="col-sm-12">Calle</label>
                        <div class="col-sm-12" style="border-bottom: 2px solid #EEE">
                            <span>Priv. 32 Sur A 2112</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Colonia" class="col-sm-12">Colonia</label>
                        <div class="col-sm-12" style="border-bottom: 2px solid #EEE">
                            <span>Miguel Negrete</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Localidad" class="col-sm-12">Localidad</label>
                        <div class="col-sm-12" style="border-bottom: 2px solid #EEE">
                            <span>Puebla</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Estado" class="col-sm-12">Estado</label>
                        <div class="col-sm-12" style="border-bottom: 2px solid #EEE">
                            <span>Puebla</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Telefono" class="col-sm-12">Teléfono</label>
                        <div class="col-sm-12" style="border-bottom: 2px solid #EEE">
                            <span>5 89 10 13</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Correo" class="col-sm-12">Email</label>
                        <div class="col-sm-12" style="border-bottom: 2px solid #EEE">
                            <span>verols@hotmail.com</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Contacto" class="col-sm-12">Contacto</label>
                        <div class="col-sm-12" style="border-bottom: 2px solid #EEE">
                            <span>2225896523</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <div class="col-lg-12">
        <div class="panel panel-white">
            <div class="panel-body">
            <div class="col-lg-12" style="font-size: 14px; text-align: center;">
                <span style="font-weight: bold;">Fecha de Alta:</span>
                <span>23/Agosto/2016</span>
            </div>
            </div>
        </div>
    </div>


